<div class="row">
    <div class="col-xs-12">
        <form class="" method="post">
            <div class="row">
                <div class="col-sm-5 form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" name="" value="" class="form-control">
                </div>
                <div class="col-sm-2 form-group">
                    <label for="amount">Amount</label>
                    <input type="number" id="amount" name="" value="" class="form-control">
                </div>
            </div>
            <div class="col-xs-12 form-group">
              <button type="submit" class="btn btn-success" name="button">Add</button>
                <button type="button" class="btn btn-danger" name="button">Delete</button>
                <button type="submit" class="btn btn-primary" name="button">Clear</button>

            </div>
        </form>
    </div>
</div>
